# Dependabot configuration file <https://docs.github.com/en/code-security/dependabot>
version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
