[run]
branch = True
concurrency = multiprocessing
data_file = ./.coverage
source = nipype
include = */nipype/*
omit =
    */nipype/external/*
    */nipype/workflows/*
    */nipype/fixes/*
    */setup.py
