/build
/dist
/nipype.egg-info
/MANIFEST
/nipype/build
/nipype/nipype.egg-info
/doc/_build
/doc/preproc
/doc/users/examples
/doc/api/generated
*.pyc
*.so
.project
.settings
.pydevproject
.eggs
.idea/
/documentation.zip
.DS_Store
nipype/testing/data/von-ray_errmap.nii.gz
nipype/testing/data/von_errmap.nii.gz
nipype/testing/data/.proc*
crash*.pklz
.coverage
htmlcov/
__pycache__/
*~
.*.swp
.ipynb_checkpoints/
.ruby-version
.pytest_cache
