Aimi Watanabe <watanabe.aimi@gmail.com> stymy <rschadmin@cmi-rsch-li002.childmind.org>
Aimi Watanabe <watanabe.aimi@gmail.com> stymy <watanabe.aimi@gmail.com>
Alejandro de la Vega <aleph4@gmail.com> adelavega <delavega@utexas.edu>
Alexander Schaefer <alexschaefer83@gmail.com> Alexander Schaefer <aschaefer@melisse.cbs.mpg.de>
Alexander Schaefer <alexschaefer83@gmail.com> alexschaefer83 <alexschaefer83@gmail.com>
Alexander Schaefer <alexschaefer83@gmail.com> aschaefer <aschaefer@aschaefer-U36SD.(none)>
Alexandre M. Savio <alexsavio@gmail.com> Alexandre M. S <alexsavio@gmail.com>
Alexandre M. Savio <alexsavio@gmail.com> Alexandre M. S <alexsavio@users.noreply.github.com>
Alexandre M. Savio <alexsavio@gmail.com> Alexandre Manhaes Savio <alexsavio@gmail.com>
Anisha Keshavan <akeshavan@gmail.com> Anisha Keshavan <akeshavan@ucla.edu>
Anisha Keshavan <akeshavan@gmail.com> akeshavan <keshavan@berkeley.edu>
Ariel Rokem <arokem@berkeley.edu> arokem <arokem@berkeley.edu>
Ariel Rokem <arokem@berkeley.edu> arokem <arokem@gmail.com>
Arman Eshaghi <arman.eshaghi@gmail.com> armaneshaghi <arman.eshaghi@gmail.com>
Ashely Gillman <gillmanash@gmail.com> Ashley Gillman <ashley.gillman@csiro.au>
Ashely Gillman <gillmanash@gmail.com> ashgillman <ashley.gillman@csiro.au>
Basille Pinsard <basile.pinsard@umontreal.ca> bpinsard <basile.pinsard@umontreal.ca>
Basille Pinsard <basile.pinsard@umontreal.ca> bpinsard <bpinsard@imed.jussieu.fr>
Ben Cipollini <bcipollini@classy.org> Ben Cipollini <bcipolli@ucsd.edu>
Benjamin Yvernault <byvernault@gmail.com> Benjamin Yvernault <mathieusaboye@MBP-de-Mathieu.fritz.box>
Benjamin Yvernault <byvernault@gmail.com> byvernault <byvernault@gmail.com>
Blake Dewey <blake.dewey@jhu.edu> Blake Dewey <blake.dewey@nih.gov>
Blake Dewey <blake.dewey@jhu.edu> blakedewey <deweybe@ndsl-nib-bdewey.local>
Blake Dewey <blake.dewey@jhu.edu> blakedewey <deweybe@ndsl-nib-bdewey.ninds.nih.gov>
Brendan Moloney <moloney.brendan@gmail.com> moloney <moloney.brendan@gmail.com>
Chris Filo Gorgolewski <chris.gorgolewski@gmail.com> Chris Filo Gorgolewski <filo@filo-Precision-M6500.(none)>
Chris Filo Gorgolewski <chris.gorgolewski@gmail.com> Chris Filo Gorgolewski <krzysztof.gorgolewski+fake@gmail.com>
Chris Filo Gorgolewski <chris.gorgolewski@gmail.com> Chris Filo Gorgolewski <krzysztof.gorgolewski@gmail.com>
Chris Filo Gorgolewski <chris.gorgolewski@gmail.com> Chris Gorgolewski <krzysztof.gorgolewski@gmail.com>
Chris Filo Gorgolewski <chris.gorgolewski@gmail.com> Krzysztof Gorgolewski <krzysztof.gorgolewski@gmail.com>
Chris Filo Gorgolewski <chris.gorgolewski@gmail.com> filo <filo@filo-Precision-M6500>
Chris Filo Gorgolewski <chris.gorgolewski@gmail.com> filo <filo@filo-dtc-laptop>
Chris Filo Gorgolewski <chris.gorgolewski@gmail.com> filo <filo@filolaptop>
Christopher J. Markiewicz <effigies@gmail.com> Chris Markiewicz <effigies@gmail.com>
Christopher J. Markiewicz <effigies@gmail.com> Christopher J. Johnson <effigies@gmail.com>
Christopher J. Markiewicz <effigies@gmail.com> Christopher J. Markiewicz <effigies@bu.edu>
Christopher J. Markiewicz <effigies@gmail.com> Christopher J. Markiewicz <markiewicz@stanford.edu>
Cindee Madison <cindee@berkeley.edu> cindeem
Cindee Madison <cindee@berkeley.edu> cindeem <>
Colin Buchanan <colinrbuchanan@gmail.com> Colin Buchanan <cbuchanan@cray4.(none)>
Colin Buchanan <colinrbuchanan@gmail.com> colinbuchanan <colinrbuchanan@gmail.com>
Daniel Clark <danieljclark87@gmail.com> dclark87 <danieljclark87@gmail.com>
Daniel Ginsburg <daniel.ginsburg@childrens.harvard.edu> danginsburg <daniel.ginsburg@childrens.harvard.edu>
Daniel McNamee <dmcx88@gmail.com> danmc <dmcx88@gmail.com>
David Ellis <dgellis90@gmail.com> David Ellis <david-ellis@uiowa.edu>
David Ellis <dgellis90@gmail.com> David Ellis <david.ellis@unmc.edu>
David Welch <david.m.welch@gmail.com> David Welch <dmwelch@users.noreply.github.com>
Dmytro <belevtsoff@gmail.com> belevtsoff <belevtsoff@gmail.com>
Erik Ziegler <erik.sweed@gmail.com> Erik <erik.ziegler@ulg.ac.be>
Erik Ziegler <erik.sweed@gmail.com> Erik Ziegler <erik.ziegler@ulg.ac.be>
Erik Ziegler <erik.sweed@gmail.com> erik <erik@erik-ubuntu.(none)>
Erik Ziegler <erik.sweed@gmail.com> erikz <erik.ziegler@ulg.ac.be>
Erik Ziegler <erik.sweed@gmail.com> swederik <erik.sweed@gmail.com>
Fernando Pérez-García <fepegar@gmail.com> Fernando <fepegar@gmail.com>
Franz Liem <franz.liem@gmail.com> fliem <franz.liem@gmail.com>
Franz Liem <franz.liem@gmail.com> fliem <franz.liem>
Gael Varoquaux <gael.varoquaux@normalesup.org> GaelVaroquaux
Gael Varoquaux <gael.varoquaux@normalesup.org> GaelVaroquaux <gael.varoquaux@noramlesup.org>
Gavin Cooper <Gavin.Cooper@newcastle.edu.au> gjcooper <gjcooper@gmail.com>
Gilles de Hollander <gilles.de.hollander@gmail.com> Gilles86 <gilles.de.hollander@gmail.com>
Hans Johnson <hans-johnson@uiowa.edu> Hans Johnson <hans.j.johnson@gmail.com>
Hans Johnson <hans-johnson@uiowa.edu> hjmjohnson <hans.j.johnson@gmail.com>
Horea Christian <horea.christ@yandex.com> Horea Christian <h.chr@mail.ru>
Isaac Schwabacher <ischwabacher@wisc.edu> ischwabacher <ischwabacher@wisc.edu>
James Kent <james-kent@uiowa.edu> jdkent <james-kent@uiowa.edu>
Jakub Kaczmarzyk <jakubk@mit.edu> kaczmarj <jakubk@mit.edu>
Jason Wong <jf126dolphin@gmail.com> Jason <jf126dolphin@gmail.com>
Jason Wong <jf126dolphin@gmail.com> jason <jf126dolphin@gmail.com>
Jason Wong <jf126dolphin@gmail.com> Jason W <jf126dolphin@gmail.com>
Jason Wong <jf126dolphin@gmail.com> Jason W <jasonwong73@ucla.edu>
Jason Wong <jf126dolphin@gmail.com> jason-wg <jf126dolphin@gmail.com>
Jens Kleesiek <kleesiek@uni-heidelberg.de> JensNRAD <kleesiek@uni-heidelberg.de>
Joerg Stadler <Joerg.Stadler@lin-magdeburg.de> Joerg Stadler <joerg.stadler@lin-magdeburg.de>
Joerg Stadler <Joerg.Stadler@lin-magdeburg.de> Jörg Stadler <Stadler@lin-magdeburg.de>
Joke Durnez <joke.durnez@gmail.com> jokedurnez <joke.durnez@gmail.com>
Josh Warner <silvertrumpet999+github@gmail.com> Josh Warner (Mac) <warner.joshua@mayo.edu>
Kai Schlamp <schlamp@gmx.de> medihack <schlamp@gmx.de>Jessica Forbes <jessica-forbes@uiowa.edu> jessicaforbes <jessica-forbes@uiowa.edu>
Kevin Sitek <ksitek@mit.edu> sitek <ksitek@mit.edu>
Leonie Lampe <leonie.lampe@gmail.com> Leonie Lmape <leonie.lampe@gmail.com>
Lukas Snoek <lukassnoek@gmail.com> Lukas Snoek <lukassnoek@gmail.com>
Mathias Goncalves <goncalves.mathias@gmail.com> mathiasg <mathiasg@mit.edu>
Michael Dayan <mdayan.research@gmail.com> Michael <mdayan.research@gmail.com>
Michael Dayan <mdayan.research@gmail.com> Michael <mdayan.comp@gmail.com>
Michael Dayan <mdayan.research@gmail.com> mick-d <mid2021@CHUCK.(none)>
Michael Clark <michael.clark195@gmail.com> Clark <clarkmg@nih.gov>
Michael Notter <michaelnotter@hotmail.com> miykael <michaelnotter@hotmail.com>
Michael Waskom <michael.l.waskom@gmail.com> Michael Waskom <mwaskom@mit.edu>
Michael Waskom <michael.l.waskom@gmail.com> Michael Waskom <mwaskom@stanford.edu>
Michael Waskom <michael.l.waskom@gmail.com> mwaskom <mwaskom@mit.edu>
Michael Waskom <michael.l.waskom@gmail.com> mwaskom <mwaskom@stanford.edu>
Michael Waskom <michael.l.waskom@gmail.com> mwaskom <mwaskom@nyu.edu>
Oscar Esteban <code@oscaresteban.es> Oscar Esteban <code@oscaresteban>
Oscar Esteban <code@oscaresteban.es> oesteban <code@oscaresteban.es>
Russell Poldrack <poldrack@gmail.com> Russ Poldrack <poldrack@gmail.com>
Russell Poldrack <poldrack@gmail.com> poldrack <poldrack@gmail.com>
Satrajit Ghosh <satrajit.ghosh@gmail.com> Satrajit Ghosh <satra@mit.edu>
Shariq Iqbal <shariqiqbal2810@gmail.com> shariqiqbal2810 <shariqiqbal2810@gmail.com>
Shariq Iqbal <shariqiqbal2810@gmail.com> shariqiqbal2810 <shariqiqbal2810@users.noreply.github.com>
Shoshana Berleant <berleant@stanford.edu> Shoshana Berleant <nope>
Shoshana Berleant <berleant@stanford.edu> Shoshana Berleant <shoshber@users.noreply.github.com>
Simon R <srothmei@mailbox.tu-berlin.de> Simon Rothmeier <srothmei@users.noreply.github.com>
Siqi Liu <lsqshr@gmail.com> siqi liu <lsqshr@gmail.com>
Siqi Liu <lsqshr@gmail.com> sql <lsqshr@gmail.com>
Steven Giavasis <sgiava77@gmail.com> Steven Giavasis <steven.giavasis@cmi-rsch-li001.childmind.org>
Steven Giavasis <sgiava77@gmail.com> sgiavasis <sgiava77@gmail.com>
Steven Giavasis <sgiava77@gmail.com> sgiavasis <sgiavasis@ieee.org>
Tristan Glatard <tristan.glatard@mcgill.ca> Tristan Glatard <tristan.glatard@creatis.insa-lyon.fr>
Victor Saase <victor@saase.net> vsaase <victor@saase.net>
William Triplett <wtriplett@gmail.com> William Triplett <wtriplett@ufl.edu>
Wolfgang Pauli <Wolfgang.m.Pauli@gmail.com> Wolfgang Pauli <Wolfgang.m.Pauli@gmail.com>
Yaroslav Halchenko <debian@onerussian.com> Yaroslav Halchenko <yoh@dartmouth.edu>
pipolose <pipolose@pipoloses-air.watson.ibm.com> pipolose <pipolose@pipoloses-MacBook-Air.local>
