Ariel Rokem <arokem@berkeley.edu> arokem <arokem@berkeley.edu>
Cindee Madison <cindee@berkeley.edu> cindeem <>
Cindee Madison <cindee@berkeley.edu> cindeem
Chris Filo Gorgolewski <chris.gorgolewski@gmail.com> filo <filo@filo-Precision-M6500>
Chris Filo Gorgolewski <chris.gorgolewski@gmail.com> Krzysztof Gorgolewski <krzysztof.gorgolewski@gmail.com>
Erik Ziegler <erik.ziegler@ulg.ac.be> erikz <erik.ziegler@ulg.ac.be>
Michael Waskom <mwaskom@stanford.edu> mwaskom <mwaskom@stanford.edu> Michael Waskom <mwaskom@mit.edu> mwaskom <mwaskom@mit.edu> 
Gael Varoquaux <gael.varoquaux@normalesup.org> GaelVaroquaux
Gael Varoquaux <gael.varoquaux@normalesup.org> GaelVaroquaux <gael.varoquaux@noramlesup.org>
Daniel Ginsburg <daniel.ginsburg@childrens.harvard.edu> danginsburg <daniel.ginsburg@childrens.harvard.edu>
Colin Buchanan <colinrbuchanan@gmail.com> colinbuchanan <colinrbuchanan@gmail.com>
