cache:
- apt
language: python
python:
- 2.7
- 3.4
- 3.5
env:
- INSTALL_DEB_DEPENDECIES=true NIPYPE_EXTRAS="doc,tests,fmri,profiler"
- INSTALL_DEB_DEPENDECIES=false NIPYPE_EXTRAS="doc,tests,fmri,profiler"
- INSTALL_DEB_DEPENDECIES=true NIPYPE_EXTRAS="doc,tests,fmri,profiler,duecredit"
before_install:
- function bef_inst {
  wget http://repo.continuum.io/miniconda/Miniconda${TRAVIS_PYTHON_VERSION:0:1}-latest-Linux-x86_64.sh
  -O /home/travis/.cache/miniconda.sh &&
  bash /home/travis/.cache/miniconda.sh -b -p /home/travis/miniconda &&
  export PATH=/home/travis/miniconda/bin:$PATH &&
  if $INSTALL_DEB_DEPENDECIES; then sudo rm -rf /dev/shm; fi &&
  if $INSTALL_DEB_DEPENDECIES; then sudo ln -s /run/shm /dev/shm; fi &&
  bash <(wget -q -O- http://neuro.debian.net/_files/neurodebian-travis.sh) &&
  sudo apt-get -y update &&
  sudo apt-get -y install xvfb fusefat &&
  if $INSTALL_DEB_DEPENDECIES; then travis_retry sudo apt-get install -y -qq
  fsl afni elastix fsl-atlases; fi &&
  if $INSTALL_DEB_DEPENDECIES; then
    source /etc/fsl/fsl.sh;
    source /etc/afni/afni.sh; 
    export FSLOUTPUTTYPE=NIFTI_GZ; fi }
- travis_retry bef_inst
install:
#  Add install of vtk and mayavi to test mesh (disabled): conda install -y vtk mayavi &&
- function inst {
  conda config --add channels conda-forge &&
  conda update --yes conda &&
  conda update --all -y python=$TRAVIS_PYTHON_VERSION &&
  conda install -y nipype &&
  rm -r /home/travis/miniconda/lib/python${TRAVIS_PYTHON_VERSION}/site-packages/nipype* &&
  pip install -r requirements.txt &&
  pip install -e .[$NIPYPE_EXTRAS] &&
  export COVERAGE_PROCESS_START=$(pwd)/.coveragerc &&
  export COVERAGE_DATA_FILE=$(pwd)/.coverage &&
  echo "data_file = ${COVERAGE_DATA_FILE}" >> ${COVERAGE_PROCESS_START}; }
- travis_retry inst
script:
- python -W once:FSL:UserWarning:nipype `which nosetests` --with-doctest --with-doctest-ignore-unicode --with-cov --cover-package nipype --logging-level=DEBUG --verbosity=3
after_success:
- bash <(curl -s https://codecov.io/bash) -t ac172a50-8e66-42e5-8822-5373fcf54686 -cF unittests
deploy:
  provider: pypi
  user: satra
  password:
    secure: OCO0FXb4f+pH4Uw7zWCIRp3qOJ1t7rhky4K8MjNU8tyVCJgd6O/Bv8GJgceS0LktPodlAAjB8SxAhTORPAQZ1D/44PJYy3NQIisvej1zjLpaA9TEGfl6W7MqhDpRyMHW+cnSi/n84SAmdr+Z4vOxScDHdwr13EPmGyOIlHMAGnE=
  on:
    tags: true
    repo: nipy/nipype
    branch: master
  distributions: "sdist"
