include INSTALL
include LICENSE
include MANIFEST.in
include	README
include THANKS
include Makefile
include build_docs.py
include setup_egg.py
include doc/documentation.zip
include nipype/COMMIT_INFO.txt

recursive-include doc *
recursive-include matlabscripts *
recursive-include tools *
