click>=6.6.0
networkx>=1.9
nibabel>=2.1.0
numpy>=1.9.0 ; python_version < "3.7"
numpy>=1.15.3 ; python_version >= "3.7"
packaging
prov>=1.5.2
neurdflib
pydot>=1.2.3
pydotplus
python-dateutil>=2.2
scipy>=0.14
simplejson>=3.8.0
traits>=4.6,!=5.0
filelock>=3.0.0
etelemetry
