click>=6.6.0
configparser
funcsigs
future>=0.16.0
geomstats>=1.7
mock
networkx>=1.9
nibabel>=2.1.0
numpy>=1.9.0
python-dateutil>=2.2
packaging
prov==1.5.0
pydotplus
pydot>=1.2.3
pytest>=3.0
pytest-xdist
pytest-env
scipy>=0.14
simplejson>=3.8.0
traits>=4.6
