configparser
funcsigs
future>=0.16.0
matplotlib
mock
networkx>=1.9
nibabel>=2.1.0
numpy>=1.9.0
numpydoc
packaging
prov>=1.5.2
neurdflib
psutil
pydot>=1.2.3
pydotplus
pytest>=3.0
python-dateutil>=2.2
scipy>=0.14
simplejson>=3.8.0
traits>=4.6
