configparser
dipy
funcsigs
future>=0.16.0
ipython
matplotlib
mock
nbsphinx
networkx>=1.9
neurdflib
nibabel>=2.1.0
numpy>=1.9.0
numpydoc
packaging
prov>=1.5.2
psutil
pydot>=1.2.3
pydotplus
pytest>=3.0
python-dateutil>=2.2
scipy>=0.14
simplejson>=3.8.0
sphinx-argparse
sphinx>=2.1.2
sphinxcontrib-apidoc
sphinxcontrib-napoleon
traits>=4.6